@page
@model SupermarketWEB.Pages.Ventas.IndexModel
@{
}
<h1>Realizar venta</h1>

@if (Model.Producto != null)
{
        <h2>Detalles del producto:</h2>
        <p>ID: @Model.Producto.Id</p>
        <p>Nombre: @Model.Producto.Name</p>
        <p>Precio: @Model.Producto.Price</p>
        <p>Stock: @Model.Producto.Stock</p>

        <h2>Categoría:</h2>
        <p>ID: @Model.Categoria.Id</p>
        <p>Nombre: @Model.Categoria.Name</p>
        <p>Descripción: @Model.Categoria.Description</p>

        <h2>Modo de pago:</h2>
        <p>ID: @Model.ModoPago.Id</p>
        <p>Nombre: @Model.ModoPago.Name</p>
        <p>Observación: @Model.ModoPago.Observation</p>

     


        <h2>Realizar compra:</h2>
        <form method="post" asp-page-handler="OnPostComprar">
            <input type="hidden" name="ProductoId" value="@Model.Producto.Id" />
            <div>
                <label for="cantidad">Cantidad:</label>
                <input type="text" id="cantidad" name="cantidad" />
                <input type="submit" value="Comprar" />
            </div>
        </form>
}