@page
@model SupermarketWEB.Pages.Buys.IndexModel

@{
}
@{
    ViewData["Title"] = "Realizar compra";
}

<h1>Realizar compra</h1>

<form method="post">
    <div>
        <label for="nombre">Name del producto:</label>
        <input type="text" id="nombre" name="nombre" />
        <input type="submit" value="Buscar" />
    </div>
</form>

@if (Model.Product != null)
{
    <h2>Detalles del producto:</h2>
    <p>ID: @Model.Product.Id</p>
    <p>Nome: @Model.Product.Name</p>
    <p>Price: @Model.Product.Price</p>

    <h2>Realizar compra:</h2>
    <form method="post">
        <input type="hidden" id="id" name="id" value="@Model.Product.Id" />
        <div>
            <label for="cantidad">Cantidad:</label>
            <input type="text" id="cantidad" name="cantidad" />
            <input type="submit" value="Comprar" />
        </div>


    </form>
}

@if (Model.ErrorMessage != null)
{
    <p>Error: @Model.ErrorMessage</p>
}